@model Projeto.Models.Funcionario
@{
    ViewBag.Title = "_ViewFormAcessos";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<section class="content">
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-header">

                    @RenderBody()

                </div>
            </div>
        </div>
    </div>
</section>