@model IEnumerable<Projeto.Models.Animal>

@using Projeto.App_Start
@{
    /**/

    ViewBag.Title = "Details";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Serviços contratados</title>
</head>
<body>
    <section class="content">
        <div class="row">
            <div class="col-xs-12">
                <div class="box">
                    <div class="box-header">


                        <div>

                            <h4>Serviços contratados para @ViewBag.Nome</h4>
                            <hr />

                            <dl class="dl-horizontal">
                                @foreach (var item in ViewBag.servicoscomprados)
                                {
                                    <p>@item</p>
                                }


                               
                            </dl>

                        </div>
                    </div>
                </div>
            </div></div>
    </section>
    <p>

    </p>
</body>
</html>
