@model Projeto.Models.Servicos
@{
    ViewBag.Title = "_ViewFormAcessos";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section id="main-content">
    <section class="wrapper">

        <div class="row mt">
            <div class="col-lg-12">
                <div class="form-panel">
                    <div class="form">

                            @RenderBody()

                    </div>
                </div>
            </div>
        </div>

    </section>
</section>