
@{
    ViewBag.Title = "_ViewVizualizaçao";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<section class="content">
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-header">
                    <h3><i class="fa fa-angle-right"></i> Funcionários</h3>


                    <div class="row fileupload-buttonbar">
                        <div class="col-lg-8">

                            <a href="@Url.Action("Create", "Funcionarios")" class="btn btn-primary">
                                <i class="glyphicon glyphicon-plus"></i>
                                <span>
                                    <strong>Cadastrar Funcionário</strong>
                                </span>
                            </a>
                            <a href="@Url.Action("Index", "Acessos")" class="btn btn-success">

                                <span>
                                    <strong>Verificar Acessos</strong>
                                </span>
                            </a>

                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="content-panel">

                                @using (Html.BeginForm("Index", "Funcionarios", FormMethod.Get))
                                {

                                    <p>
                                        &nbsp;&nbsp;&nbsp;
                                        Procurar por Nome: @Html.TextBox("SearchString", ViewBag.CurrentFilter as string)
                                        <input type="submit" value="Search" />
                                    </p>
                                }





                                @RenderBody()

                            </div>
                        </div>
                    </div>
                    </div></div></div></div>
</section>
                    
                    <footer class="site-footer">
                        <div class="text-center">
                            <p>
                                &copy; Copyrights <strong>Dashio</strong>. All Rights Reserved
                            </p>
                            <div class="credits">
                                <!--
                  You are NOT allowed to delete the credit link to TemplateMag with free version.
                  You can delete the credit link only if you bought the pro version.
                  Buy the pro version with working PHP/AJAX contact form: https://templatemag.com/dashio-bootstrap-admin-template/
                  Licensing information: https://templatemag.com/license/
                -->
                                Created with Dashio template by <a href="https://templatemag.com/">TemplateMag</a>
                            </div>
                            <a href="basic_table.html#" class="go-top">
                                <i class="fa fa-angle-up"></i>
                            </a>
                        </div>
                    </footer>
                    <!--footer end-->
</section>
