
@{
    Layout = null;
}
<div class="ibox-content">
    <div>
        <canvas id="barChart" height="140"></canvas>
    </div>
</div>
<script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>
<script src="~/Scripts/Chart.min.js"></script>
<script type="text/javascript">
    $(document).ready(function () {

        // This will transform your model in javascript object.
        var jsObject = @Html.Raw(Json.Encode(Model));

        if (jsObject) {

            var male = jsObject.Male;
            var female = jsObject.Female;

            var barData = {
                labels: ["January", "February", "March", "April", "May", "June", "July"],
                datasets: [
                    {
                        label: "Masculino",
                        backgroundColor: 'rgba(220, 220, 220, 0.5)',
                        pointBorderColor: "#fff",
                        data: male
                    },
                    {
                        label: "Feminino",
                        backgroundColor: 'rgba(26,179,148,0.5)',
                        borderColor: "rgba(26,179,148,0.7)",
                        pointBackgroundColor: "rgba(26,179,148,1)",
                        pointBorderColor: "#fff",
                        data: female
                    }
                ]
            };

            var barOptions = {
                responsive: true
            };


            var ctx2 = document.getElementById("barChart").getContext("2d");
            new Chart(ctx2, { type: 'bar', data: barData, options: barOptions });
        }
        });
</script>